@import "bootstrap/bootstrap";

@btn-font-weight: 300;
@font-family-sans-serif: "Roboto", Helvetica, Arial, sans-serif;

body {
  padding-top: 60px;
}

body, label, .checkbox label {
	font-weight: 300;
}

.blog-article {
  padding-top: 20px;
  padding-bottom: 45px;
  border-bottom: 1px solid #cccccc;
}

.blog-title {
  padding-bottom: 25px;
  font-size: 3.2em;
}

.blog-body {
  font-size: 1.4em;
}